// <copyright file="OrdersController.cs" company="APIMatic">
// PaypalServerSdk.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using PaypalServerSdk.Standard.Exceptions;
using PaypalServerSdk.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace PaypalServerSdk.Standard.Controllers
{
    /// <summary>
    /// OrdersController.
    /// </summary>
    public class OrdersController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="OrdersController"/> class.
        /// </summary>
        internal OrdersController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Creates an order. Merchants and partners can add Level 2 and 3 data to payments to reduce risk and payment processing costs. For more information about processing payments, see checkout or multiparty checkout. Note: For error handling and troubleshooting, see Orders v2 errors.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <returns>Returns the ApiResponse of Models.Order response from the API call.</returns>
        public ApiResponse<Models.Order> CreateOrder(
                Models.CreateOrderInput input)
            => CoreHelper.RunTask(CreateOrderAsync(input));

        /// <summary>
        /// Creates an order. Merchants and partners can add Level 2 and 3 data to payments to reduce risk and payment processing costs. For more information about processing payments, see checkout or multiparty checkout. Note: For error handling and troubleshooting, see Orders v2 errors.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Order response from the API call.</returns>
        public async Task<ApiResponse<Models.Order>> CreateOrderAsync(
                Models.CreateOrderInput input,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Order>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v2/checkout/orders")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(input.Body))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("PayPal-Mock-Response", input.PaypalMockResponse))
                      .Header(header => header.Setup("PayPal-Request-Id", input.PaypalRequestId))
                      .Header(header => header.Setup("PayPal-Partner-Attribution-Id", input.PaypalPartnerAttributionId))
                      .Header(header => header.Setup("PayPal-Client-Metadata-Id", input.PaypalClientMetadataId))
                      .Header(header => header.Setup("Prefer", input.Prefer))
                      .Header(header => header.Setup("PayPal-Auth-Assertion", input.PaypalAuthAssertion))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Request is not well-formed, syntactically incorrect, or violates schema.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Authentication failed due to missing authorization header, or invalid authentication credentials.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("422", CreateErrorCase("The requested action could not be performed, semantically incorrect, or failed business validation.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("The error response.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Shows details for an order, by ID. Note: For error handling and troubleshooting, see Orders v2 errors.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <returns>Returns the ApiResponse of Models.Order response from the API call.</returns>
        public ApiResponse<Models.Order> GetOrder(
                Models.GetOrderInput input)
            => CoreHelper.RunTask(GetOrderAsync(input));

        /// <summary>
        /// Shows details for an order, by ID. Note: For error handling and troubleshooting, see Orders v2 errors.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Order response from the API call.</returns>
        public async Task<ApiResponse<Models.Order>> GetOrderAsync(
                Models.GetOrderInput input,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Order>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v2/checkout/orders/{id}")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("id", input.Id))
                      .Header(header => header.Setup("PayPal-Mock-Response", input.PaypalMockResponse))
                      .Header(header => header.Setup("PayPal-Auth-Assertion", input.PaypalAuthAssertion))
                      .Query(query => query.Setup("fields", input.Fields))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("401", CreateErrorCase("Authentication failed due to missing authorization header, or invalid authentication credentials.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The specified resource does not exist.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("The error response.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Updates an order with a `CREATED` or `APPROVED` status. You cannot update an order with the `COMPLETED` status.<br/><br/>To make an update, you must provide a `reference_id`. If you omit this value with an order that contains only one purchase unit, PayPal sets the value to `default` which enables you to use the path: <code>\"/purchase_units/@reference_id=='default'/{attribute-or-object}\"</code>. Merchants and partners can add Level 2 and 3 data to payments to reduce risk and payment processing costs. For more information about processing payments, see <a href="https://developer.paypal.com/docs/checkout/advanced/processing/">checkout</a> or <a href="https://developer.paypal.com/docs/multiparty/checkout/advanced/processing/">multiparty checkout</a>.<blockquote><strong>Note:</strong> For error handling and troubleshooting, see <a href="https://developer.paypal.com/api/rest/reference/orders/v2/errors/#patch-order">Orders v2 errors</a>.</blockquote>Patchable attributes or objects:<br/><br/><table><thead><th>Attribute</th><th>Op</th><th>Notes</th></thead><tbody><tr><td><code>intent</code></td><td>replace</td><td></td></tr><tr><td><code>payer</code></td><td>replace, add</td><td>Using replace op for <code>payer</code> will replace the whole <code>payer</code> object with the value sent in request.</td></tr><tr><td><code>purchase_units</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].custom_id</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].description</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].payee.email</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].shipping.name</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.email_address</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.phone_number</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.options</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.address</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.type</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].soft_descriptor</code></td><td>replace, remove</td><td></td></tr><tr><td><code>purchase_units[].amount</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].items</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].invoice_id</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction.disbursement_mode</code></td><td>replace</td><td>By default, <code>disbursement_mode</code> is <code>INSTANT</code>.</td></tr><tr><td><code>purchase_units[].payment_instruction.payee_receivable_fx_rate_id</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction.platform_fees</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].supplementary_data.airline</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].supplementary_data.card</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>application_context.client_configuration</code></td><td>replace, add</td><td></td></tr></tbody></table>.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        public void PatchOrder(
                Models.PatchOrderInput input)
            => CoreHelper.RunVoidTask(PatchOrderAsync(input));

        /// <summary>
        /// Updates an order with a `CREATED` or `APPROVED` status. You cannot update an order with the `COMPLETED` status.<br/><br/>To make an update, you must provide a `reference_id`. If you omit this value with an order that contains only one purchase unit, PayPal sets the value to `default` which enables you to use the path: <code>\"/purchase_units/@reference_id=='default'/{attribute-or-object}\"</code>. Merchants and partners can add Level 2 and 3 data to payments to reduce risk and payment processing costs. For more information about processing payments, see <a href="https://developer.paypal.com/docs/checkout/advanced/processing/">checkout</a> or <a href="https://developer.paypal.com/docs/multiparty/checkout/advanced/processing/">multiparty checkout</a>.<blockquote><strong>Note:</strong> For error handling and troubleshooting, see <a href="https://developer.paypal.com/api/rest/reference/orders/v2/errors/#patch-order">Orders v2 errors</a>.</blockquote>Patchable attributes or objects:<br/><br/><table><thead><th>Attribute</th><th>Op</th><th>Notes</th></thead><tbody><tr><td><code>intent</code></td><td>replace</td><td></td></tr><tr><td><code>payer</code></td><td>replace, add</td><td>Using replace op for <code>payer</code> will replace the whole <code>payer</code> object with the value sent in request.</td></tr><tr><td><code>purchase_units</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].custom_id</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].description</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].payee.email</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].shipping.name</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.email_address</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.phone_number</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.options</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.address</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].shipping.type</code></td><td>replace, add</td><td></td></tr><tr><td><code>purchase_units[].soft_descriptor</code></td><td>replace, remove</td><td></td></tr><tr><td><code>purchase_units[].amount</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].items</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].invoice_id</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction</code></td><td>replace</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction.disbursement_mode</code></td><td>replace</td><td>By default, <code>disbursement_mode</code> is <code>INSTANT</code>.</td></tr><tr><td><code>purchase_units[].payment_instruction.payee_receivable_fx_rate_id</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].payment_instruction.platform_fees</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].supplementary_data.airline</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>purchase_units[].supplementary_data.card</code></td><td>replace, add, remove</td><td></td></tr><tr><td><code>application_context.client_configuration</code></td><td>replace, add</td><td></td></tr></tbody></table>.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task PatchOrderAsync(
                Models.PatchOrderInput input,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v2/checkout/orders/{id}")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(input.Body))
                      .Template(template => template.Setup("id", input.Id))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("PayPal-Mock-Response", input.PaypalMockResponse))
                      .Header(header => header.Setup("PayPal-Auth-Assertion", input.PaypalAuthAssertion))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Request is not well-formed, syntactically incorrect, or violates schema.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Authentication failed due to missing authorization header, or invalid authentication credentials.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The specified resource does not exist.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("422", CreateErrorCase("The requested action could not be performed, semantically incorrect, or failed business validation.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("The error response.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Payer confirms their intent to pay for the the Order with the given payment source.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <returns>Returns the ApiResponse of Models.Order response from the API call.</returns>
        public ApiResponse<Models.Order> ConfirmOrder(
                Models.ConfirmOrderInput input)
            => CoreHelper.RunTask(ConfirmOrderAsync(input));

        /// <summary>
        /// Payer confirms their intent to pay for the the Order with the given payment source.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Order response from the API call.</returns>
        public async Task<ApiResponse<Models.Order>> ConfirmOrderAsync(
                Models.ConfirmOrderInput input,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Order>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v2/checkout/orders/{id}/confirm-payment-source")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(input.Body))
                      .Template(template => template.Setup("id", input.Id))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("PayPal-Client-Metadata-Id", input.PaypalClientMetadataId))
                      .Header(header => header.Setup("PayPal-Auth-Assertion", input.PaypalAuthAssertion))
                      .Header(header => header.Setup("Prefer", input.Prefer))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Request is not well-formed, syntactically incorrect, or violates schema.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Authorization failed due to insufficient permissions.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("422", CreateErrorCase("The requested action could not be performed, semantically incorrect, or failed business validation.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("The error response.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Authorizes payment for an order. To successfully authorize payment for an order, the buyer must first approve the order or a valid payment_source must be provided in the request. A buyer can approve the order upon being redirected to the rel:approve URL that was returned in the HATEOAS links in the create order response. Note: For error handling and troubleshooting, see Orders v2 errors.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <returns>Returns the ApiResponse of Models.OrderAuthorizeResponse response from the API call.</returns>
        public ApiResponse<Models.OrderAuthorizeResponse> AuthorizeOrder(
                Models.AuthorizeOrderInput input)
            => CoreHelper.RunTask(AuthorizeOrderAsync(input));

        /// <summary>
        /// Authorizes payment for an order. To successfully authorize payment for an order, the buyer must first approve the order or a valid payment_source must be provided in the request. A buyer can approve the order upon being redirected to the rel:approve URL that was returned in the HATEOAS links in the create order response. Note: For error handling and troubleshooting, see Orders v2 errors.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.OrderAuthorizeResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.OrderAuthorizeResponse>> AuthorizeOrderAsync(
                Models.AuthorizeOrderInput input,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.OrderAuthorizeResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v2/checkout/orders/{id}/authorize")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(input.Body))
                      .Template(template => template.Setup("id", input.Id))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("PayPal-Mock-Response", input.PaypalMockResponse))
                      .Header(header => header.Setup("PayPal-Request-Id", input.PaypalRequestId))
                      .Header(header => header.Setup("Prefer", input.Prefer))
                      .Header(header => header.Setup("PayPal-Client-Metadata-Id", input.PaypalClientMetadataId))
                      .Header(header => header.Setup("PayPal-Auth-Assertion", input.PaypalAuthAssertion))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Request is not well-formed, syntactically incorrect, or violates schema.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Authentication failed due to missing authorization header, or invalid authentication credentials.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("The authorized payment failed due to insufficient permissions.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The specified resource does not exist.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("422", CreateErrorCase("The requested action could not be performed, semantically incorrect, or failed business validation.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("The error response.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Captures payment for an order. To successfully capture payment for an order, the buyer must first approve the order or a valid payment_source must be provided in the request. A buyer can approve the order upon being redirected to the rel:approve URL that was returned in the HATEOAS links in the create order response. Note: For error handling and troubleshooting, see Orders v2 errors.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <returns>Returns the ApiResponse of Models.Order response from the API call.</returns>
        public ApiResponse<Models.Order> CaptureOrder(
                Models.CaptureOrderInput input)
            => CoreHelper.RunTask(CaptureOrderAsync(input));

        /// <summary>
        /// Captures payment for an order. To successfully capture payment for an order, the buyer must first approve the order or a valid payment_source must be provided in the request. A buyer can approve the order upon being redirected to the rel:approve URL that was returned in the HATEOAS links in the create order response. Note: For error handling and troubleshooting, see Orders v2 errors.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Order response from the API call.</returns>
        public async Task<ApiResponse<Models.Order>> CaptureOrderAsync(
                Models.CaptureOrderInput input,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Order>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v2/checkout/orders/{id}/capture")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(input.Body))
                      .Template(template => template.Setup("id", input.Id))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("PayPal-Mock-Response", input.PaypalMockResponse))
                      .Header(header => header.Setup("PayPal-Request-Id", input.PaypalRequestId))
                      .Header(header => header.Setup("Prefer", input.Prefer))
                      .Header(header => header.Setup("PayPal-Client-Metadata-Id", input.PaypalClientMetadataId))
                      .Header(header => header.Setup("PayPal-Auth-Assertion", input.PaypalAuthAssertion))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Request is not well-formed, syntactically incorrect, or violates schema.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("401", CreateErrorCase("Authentication failed due to missing authorization header, or invalid authentication credentials.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("The authorized payment failed due to insufficient permissions.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The specified resource does not exist.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("422", CreateErrorCase("The requested action could not be performed, semantically incorrect, or failed business validation.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("The error response.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Adds tracking information for an Order.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <returns>Returns the ApiResponse of Models.Order response from the API call.</returns>
        public ApiResponse<Models.Order> CreateOrderTracking(
                Models.CreateOrderTrackingInput input)
            => CoreHelper.RunTask(CreateOrderTrackingAsync(input));

        /// <summary>
        /// Adds tracking information for an Order.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.Order response from the API call.</returns>
        public async Task<ApiResponse<Models.Order>> CreateOrderTrackingAsync(
                Models.CreateOrderTrackingInput input,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.Order>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v2/checkout/orders/{id}/track")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(input.Body))
                      .Template(template => template.Setup("id", input.Id))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("PayPal-Auth-Assertion", input.PaypalAuthAssertion))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Request is not well-formed, syntactically incorrect, or violates schema.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Authorization failed due to insufficient permissions.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The specified resource does not exist.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("422", CreateErrorCase("The requested action could not be performed, semantically incorrect, or failed business validation.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("The error response.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Updates or cancels the tracking information for a PayPal order, by ID. Updatable attributes or objects: Attribute Op Notes items replace Using replace op for items will replace the entire items object with the value sent in request. notify_payer replace, add status replace Only patching status to CANCELLED is currently supported.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        public void UpdateOrderTracking(
                Models.UpdateOrderTrackingInput input)
            => CoreHelper.RunVoidTask(UpdateOrderTrackingAsync(input));

        /// <summary>
        /// Updates or cancels the tracking information for a PayPal order, by ID. Updatable attributes or objects: Attribute Op Notes items replace Using replace op for items will replace the entire items object with the value sent in request. notify_payer replace, add status replace Only patching status to CANCELLED is currently supported.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task UpdateOrderTrackingAsync(
                Models.UpdateOrderTrackingInput input,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(new HttpMethod("PATCH"), "/v2/checkout/orders/{id}/trackers/{tracker_id}")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(input.Body))
                      .Template(template => template.Setup("id", input.Id))
                      .Template(template => template.Setup("tracker_id", input.TrackerId))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("PayPal-Auth-Assertion", input.PaypalAuthAssertion))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Request is not well-formed, syntactically incorrect, or violates schema.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Authorization failed due to insufficient permissions.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The specified resource does not exist.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("422", CreateErrorCase("The requested action could not be performed, semantically incorrect, or failed business validation.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("The error response.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}