// <copyright file="TransactionSearchController.cs" company="APIMatic">
// PaypalServerSdk.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Utilities;
using PaypalServerSdk.Standard.Exceptions;
using PaypalServerSdk.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace PaypalServerSdk.Standard.Controllers
{
    /// <summary>
    /// TransactionSearchController.
    /// </summary>
    public class TransactionSearchController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="TransactionSearchController"/> class.
        /// </summary>
        internal TransactionSearchController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Lists transactions. Specify one or more query parameters to filter the transaction that appear in the response. Notes: If you specify one or more optional query parameters, the ending_balance response field is empty. It takes a maximum of three hours for executed transactions to appear in the list transactions call. This call lists transaction for the previous three years.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <returns>Returns the ApiResponse of Models.SearchResponse response from the API call.</returns>
        public ApiResponse<Models.SearchResponse> SearchTransactions(
                Models.SearchTransactionsInput input)
            => CoreHelper.RunTask(SearchTransactionsAsync(input));

        /// <summary>
        /// Lists transactions. Specify one or more query parameters to filter the transaction that appear in the response. Notes: If you specify one or more optional query parameters, the ending_balance response field is empty. It takes a maximum of three hours for executed transactions to appear in the list transactions call. This call lists transaction for the previous three years.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SearchResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.SearchResponse>> SearchTransactionsAsync(
                Models.SearchTransactionsInput input,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SearchResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/reporting/transactions")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("start_date", input.StartDate))
                      .Query(query => query.Setup("end_date", input.EndDate))
                      .Query(query => query.Setup("transaction_id", input.TransactionId))
                      .Query(query => query.Setup("transaction_type", input.TransactionType))
                      .Query(query => query.Setup("transaction_status", input.TransactionStatus))
                      .Query(query => query.Setup("transaction_amount", input.TransactionAmount))
                      .Query(query => query.Setup("transaction_currency", input.TransactionCurrency))
                      .Query(query => query.Setup("payment_instrument_type", input.PaymentInstrumentType))
                      .Query(query => query.Setup("store_id", input.StoreId))
                      .Query(query => query.Setup("terminal_id", input.TerminalId))
                      .Query(query => query.Setup("fields", input.Fields))
                      .Query(query => query.Setup("balance_affecting_records_only", input.BalanceAffectingRecordsOnly))
                      .Query(query => query.Setup("page_size", input.PageSize))
                      .Query(query => query.Setup("page", input.Page))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("0", CreateErrorCase("The error response.", (errorReason, context) => new SearchErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// List all balances. Specify date time to list balances for that time that appear in the response. Notes: It takes a maximum of three hours for balances to appear in the list balances call. This call lists balances upto the previous three years.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <returns>Returns the ApiResponse of Models.BalancesResponse response from the API call.</returns>
        public ApiResponse<Models.BalancesResponse> SearchBalances(
                Models.SearchBalancesInput input)
            => CoreHelper.RunTask(SearchBalancesAsync(input));

        /// <summary>
        /// List all balances. Specify date time to list balances for that time that appear in the response. Notes: It takes a maximum of three hours for balances to appear in the list balances call. This call lists balances upto the previous three years.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.BalancesResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.BalancesResponse>> SearchBalancesAsync(
                Models.SearchBalancesInput input,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.BalancesResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v1/reporting/balances")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("as_of_time", input.AsOfTime))
                      .Query(query => query.Setup("currency_code", input.CurrencyCode))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("The request is not well-formed, is syntactically incorrect, or violates schema.", (errorReason, context) => new DefaultErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Authorization failed due to insufficient permissions.", (errorReason, context) => new DefaultErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error occurred.", (errorReason, context) => new DefaultErrorException(errorReason, context)))
                  .ErrorCase("0", CreateErrorCase("The error response.", (errorReason, context) => new DefaultErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}