// <copyright file="VaultController.cs" company="APIMatic">
// PaypalServerSdk.Standard
//
// This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
// </copyright>
using APIMatic.Core;
using APIMatic.Core.Types;
using APIMatic.Core.Utilities;
using PaypalServerSdk.Standard.Exceptions;
using PaypalServerSdk.Standard.Http.Response;
using System.Net.Http;
using System.Threading;
using System.Threading.Tasks;

namespace PaypalServerSdk.Standard.Controllers
{
    /// <summary>
    /// VaultController.
    /// </summary>
    public class VaultController : BaseController
    {
        /// <summary>
        /// Initializes a new instance of the <see cref="VaultController"/> class.
        /// </summary>
        internal VaultController(GlobalConfiguration globalConfiguration) : base(globalConfiguration) { }

        /// <summary>
        /// Creates a Payment Token from the given payment source and adds it to the Vault of the associated customer.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <returns>Returns the ApiResponse of Models.PaymentTokenResponse response from the API call.</returns>
        public ApiResponse<Models.PaymentTokenResponse> CreatePaymentToken(
                Models.CreatePaymentTokenInput input)
            => CoreHelper.RunTask(CreatePaymentTokenAsync(input));

        /// <summary>
        /// Creates a Payment Token from the given payment source and adds it to the Vault of the associated customer.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PaymentTokenResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PaymentTokenResponse>> CreatePaymentTokenAsync(
                Models.CreatePaymentTokenInput input,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PaymentTokenResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v3/vault/payment-tokens")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(input.Body))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("PayPal-Request-Id", input.PaypalRequestId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Request is not well-formed, syntactically incorrect, or violates schema.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Authorization failed due to insufficient permissions.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("Request contains reference to resources that do not exist.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("422", CreateErrorCase("The requested action could not be performed, semantically incorrect, or failed business validation.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns all payment tokens for a customer.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <returns>Returns the ApiResponse of Models.CustomerVaultPaymentTokensResponse response from the API call.</returns>
        public ApiResponse<Models.CustomerVaultPaymentTokensResponse> ListCustomerPaymentTokens(
                Models.ListCustomerPaymentTokensInput input)
            => CoreHelper.RunTask(ListCustomerPaymentTokensAsync(input));

        /// <summary>
        /// Returns all payment tokens for a customer.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.CustomerVaultPaymentTokensResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.CustomerVaultPaymentTokensResponse>> ListCustomerPaymentTokensAsync(
                Models.ListCustomerPaymentTokensInput input,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.CustomerVaultPaymentTokensResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v3/vault/payment-tokens")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Query(query => query.Setup("customer_id", input.CustomerId))
                      .Query(query => query.Setup("page_size", input.PageSize))
                      .Query(query => query.Setup("page", input.Page))
                      .Query(query => query.Setup("total_required", input.TotalRequired))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Request is not well-formed, syntactically incorrect, or violates schema.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Authorization failed due to insufficient permissions.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a readable representation of vaulted payment source associated with the payment token id.
        /// </summary>
        /// <param name="id">Required parameter: ID of the payment token..</param>
        /// <returns>Returns the ApiResponse of Models.PaymentTokenResponse response from the API call.</returns>
        public ApiResponse<Models.PaymentTokenResponse> GetPaymentToken(
                string id)
            => CoreHelper.RunTask(GetPaymentTokenAsync(id));

        /// <summary>
        /// Returns a readable representation of vaulted payment source associated with the payment token id.
        /// </summary>
        /// <param name="id">Required parameter: ID of the payment token..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.PaymentTokenResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.PaymentTokenResponse>> GetPaymentTokenAsync(
                string id,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.PaymentTokenResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v3/vault/payment-tokens/{id}")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("id", id))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("403", CreateErrorCase("Authorization failed due to insufficient permissions.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The specified resource does not exist.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("422", CreateErrorCase("The requested action could not be performed, semantically incorrect, or failed business validation.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Delete the payment token associated with the payment token id.
        /// </summary>
        /// <param name="id">Required parameter: ID of the payment token..</param>
        public void DeletePaymentToken(
                string id)
            => CoreHelper.RunVoidTask(DeletePaymentTokenAsync(id));

        /// <summary>
        /// Delete the payment token associated with the payment token id.
        /// </summary>
        /// <param name="id">Required parameter: ID of the payment token..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the void response from the API call.</returns>
        public async Task DeletePaymentTokenAsync(
                string id,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<VoidType>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Delete, "/v3/vault/payment-tokens/{id}")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("id", id))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Request is not well-formed, syntactically incorrect, or violates schema.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Authorization failed due to insufficient permissions.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Creates a Setup Token from the given payment source and adds it to the Vault of the associated customer.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <returns>Returns the ApiResponse of Models.SetupTokenResponse response from the API call.</returns>
        public ApiResponse<Models.SetupTokenResponse> CreateSetupToken(
                Models.CreateSetupTokenInput input)
            => CoreHelper.RunTask(CreateSetupTokenAsync(input));

        /// <summary>
        /// Creates a Setup Token from the given payment source and adds it to the Vault of the associated customer.
        /// </summary>
        /// <param name="input">Object containing request parameters.</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SetupTokenResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.SetupTokenResponse>> CreateSetupTokenAsync(
                Models.CreateSetupTokenInput input,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SetupTokenResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Post, "/v3/vault/setup-tokens")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Body(b => b.Setup(input.Body))
                      .Header(header => header.Setup("Content-Type", "application/json"))
                      .Header(header => header.Setup("PayPal-Request-Id", input.PaypalRequestId))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("400", CreateErrorCase("Request is not well-formed, syntactically incorrect, or violates schema.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("403", CreateErrorCase("Authorization failed due to insufficient permissions.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("422", CreateErrorCase("The requested action could not be performed, semantically incorrect, or failed business validation.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);

        /// <summary>
        /// Returns a readable representation of temporarily vaulted payment source associated with the setup token id.
        /// </summary>
        /// <param name="id">Required parameter: ID of the setup token..</param>
        /// <returns>Returns the ApiResponse of Models.SetupTokenResponse response from the API call.</returns>
        public ApiResponse<Models.SetupTokenResponse> GetSetupToken(
                string id)
            => CoreHelper.RunTask(GetSetupTokenAsync(id));

        /// <summary>
        /// Returns a readable representation of temporarily vaulted payment source associated with the setup token id.
        /// </summary>
        /// <param name="id">Required parameter: ID of the setup token..</param>
        /// <param name="cancellationToken"> cancellationToken. </param>
        /// <returns>Returns the ApiResponse of Models.SetupTokenResponse response from the API call.</returns>
        public async Task<ApiResponse<Models.SetupTokenResponse>> GetSetupTokenAsync(
                string id,
                CancellationToken cancellationToken = default)
            => await CreateApiCall<Models.SetupTokenResponse>()
              .RequestBuilder(requestBuilder => requestBuilder
                  .Setup(HttpMethod.Get, "/v3/vault/setup-tokens/{id}")
                  .WithAuth("Oauth2")
                  .Parameters(parameters => parameters
                      .Template(template => template.Setup("id", id))))
              .ResponseHandler(responseHandler => responseHandler
                  .ErrorCase("403", CreateErrorCase("Authorization failed due to insufficient permissions.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("404", CreateErrorCase("The specified resource does not exist.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("422", CreateErrorCase("The requested action could not be performed, semantically incorrect, or failed business validation.", (errorReason, context) => new ErrorException(errorReason, context)))
                  .ErrorCase("500", CreateErrorCase("An internal server error has occurred.", (errorReason, context) => new ErrorException(errorReason, context))))
              .ExecuteAsync(cancellationToken).ConfigureAwait(false);
    }
}